<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nostyling.create.modular.dao.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.nostyling.create.modular.entity.User">
		<id column="id" property="id" />
		<result column="uuid" property="uuid" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="qq" property="qq" />
		<result column="address" property="address" />
		<result column="status" property="status" />
		<result column="createtime" property="createtime" />
		<result column="version" property="version" />
	</resultMap>

	<select id="selectUsers" resultType="com.nostyling.create.modular.entity.User">
		select
		*
		from user
		where 1= 1
		<if test="null != id ">
		and id = #{id}
		</if>

	</select>

</mapper>
